footer{
    padding-top: 38px;
    padding-bottom: 38px;
    .wrapper{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .links{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18px;
        margin-top: 34px;
        margin-bottom: 32px;
    }
    .soc-m{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}