.subscribe-to{
    background: linear-gradient(0deg, #041B2F 0%, #041B2F 100%), #FFF;
    padding: 31px 0;
    .cont{
        display: flex;
        justify-content: space-between;
        form{
            display: flex;
            gap: 10px;
            max-width: 586px;
            width: 100%;
            input{
                color: #777;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%; /* 16px */

                border-radius: 8px;
                background: #FFF;
                border: 0;
                padding: 14px;
                width: 100%;
            }
            button{
                border-radius: 6px;
                background: #3454DA;
                padding: 12px 20px;
                min-width: 180px;

                color: #FFF;
                text-align: center;
                font-family: "General Sans";
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%; /* 18px */
                text-transform: capitalize;
                border: 0;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .subscribe-to .cont{
        align-items: center;
        h2{
            text-align: left;
        }
    }
}
@media screen and (max-width: 768px) {
    .subscribe-to{
        padding-top: 50px;
        padding-bottom: 52px;
    }
    .subscribe-to .cont{
        flex-direction: column;
        text-align: left;
        gap: 25px;
        h2{
            width: 100%;
            text-align: left;
        }
    }
    .subscribe-to .cont form{
        flex-direction: column;
        max-width: 100%;
    }
}